{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Bouton de génération de rapport -->
    <!-- <div class="row mb-4">
        <div class="col-md-12 text-center">
            <button id="generateReport" class="btn btn-primary">Générer un Rapport</button>
        </div>
    </div>

    <!-- Cartes de statistiques -->
    <div class="row">
        <div class="col-md-3 mb-4 d-flex">
            <div class="card flex-fill shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-city fa-3x text-primary mb-3"></i>
                    <h5 class="card-title">Communes</h5>
                    <p class="card-text display-4">{{ commune_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 d-flex">
            <div class="card flex-fill shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-map-marked-alt fa-3x text-success mb-3"></i>
                    <h5 class="card-title">Wilayas</h5>
                    <p class="card-text display-4">{{ wilaya_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 d-flex">
            <div class="card flex-fill shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-map-pin fa-3x text-warning mb-3"></i>
                    <h5 class="card-title">Moughataas</h5>
                    <p class="card-text display-4">{{ moughataa_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 d-flex">
            <div class="card flex-fill shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-shopping-basket fa-3x text-danger mb-3"></i>
                    <h5 class="card-title">Produits</h5>
                    <p class="card-text display-4">{{ product_count }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Graphiques -->
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center">Indice des Prix à la Consommation (IPC)</h5>
            <canvas id="ipcChart" style="height: 500px;"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center">Répartition des Produits par Type</h5>
            <canvas id="productTypeChart" style="height: 500px;"></canvas>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <form method="get" action="{% url 'dashboard' %}">
                <div class="form-group">
                    <label for="moughataa">Filtrer par Moughataa:</label>
                    <select class="form-control" id="moughataa" name="moughataa_id">
                        <option value="">Toutes les Moughataas</option>
                        {% for moughataa in moughataas %}
                            <option value="{{ moughataa.id }}" {% if moughataa.id == selected_moughataa_id %}selected{% endif %}>{{ moughataa.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="year">Filtrer par Année:</label>
                    <select class="form-control" id="year" name="year">
                        <option value="">Toutes les années</option>
                        {% for year in available_years %}
                            <option value="{{ year.year }}" {% if year.year == selected_year %}selected{% endif %}>{{ year.year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filtrer</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center">Répartition des Points de Vente par Commune</h5>
            <canvas id="pointOfSaleChart" style="height: 500px;"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center">Évolution des Prix des Produits</h5>
            <canvas id="priceEvolutionChart" style="height: 500px;"></canvas>
        </div>
    </div>

    <!-- Carte des points de vente -->
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center">Carte des Points de Vente</h5>
            <div id="map" style="height: 100vh; width: 500%;"></div>  <!-- Carte pleine largeur et pleine hauteur -->
        </div>
    </div>
</div>

<!-- Inclure Chart.js et Leaflet -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- Script pour générer les graphiques -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Graphique IPC
    var ctxIpc = document.getElementById('ipcChart').getContext('2d');
    var ipcChart = new Chart(ctxIpc, {
        type: 'line',
        data: {
            labels: {{ ipc_labels|safe }},
            datasets: {{ ipc_chart_dataset|safe }}
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Graphique des types de produits
    var ctxProductType = document.getElementById('productTypeChart').getContext('2d');
    var productTypeChart = new Chart(ctxProductType, {
        type: 'bar',
        data: {
            labels: {{ product_type_labels|safe }},
            datasets: [{
                label: 'Nombre de Produits',
                data: {{ product_type_values|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Graphique des points de vente
    var ctxPOS = document.getElementById('pointOfSaleChart').getContext('2d');
    var pointOfSaleChart = new Chart(ctxPOS, {
        type: 'pie',
        data: {
            labels: {{ point_of_sale_labels|safe }},
            datasets: [{
                label: 'Nombre de Points de Vente',
                data: {{ point_of_sale_values|safe }},
                backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false
        }
    });

    // Graphique de l'évolution des prix
    var ctxPriceEvolution = document.getElementById('priceEvolutionChart').getContext('2d');
    var priceEvolutionChart = new Chart(ctxPriceEvolution, {
        type: 'line',
        data: {
            labels: {{ line_chart_labels|safe }},
            datasets: {{ line_chart_datasets|safe }}
        },
        options: {
            responsive: false,
            maintainAspectRatio: false
        }
    });

    // Carte des points de vente
    var map = L.map('map').setView([20, -10], 6); // Vue initiale de la carte avec latitude et longitude
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Points de vente (données JSON envoyées par Django)
    var pointOfSales = JSON.parse('{{ point_of_sales_json|escapejs }}'); // Données JSON des points de vente
    pointOfSales.forEach(function(pos) {
        L.marker([pos.gps_lat, pos.gps_lon])
            .addTo(map)
            .bindPopup('<b>' + pos.code + '</b><br>' + pos.commune__name); // Affichage des informations dans le popup
    });

    // Action de génération du rapport
    document.getElementById('generateReport').addEventListener('click', function() {
        window.location.href = '{% url "generate_report" %}'; // Redirection vers la vue de génération du rapport
    });
});
</script>

{% endblock %}
