{% extends "base.html" %}

{% block title %}<title>Module</title>{% endblock %}

{% block content %}

<h1 class="text-center"> Details of Point de vente </h1>
<ul class="list-group p-5">
    <li class="list-group-item"><b>ID</b>: {{pointVente.id}}</li>
    <li class="list-group-item"><b>description</b>: {{pointVente.code}}</li>
    <li class="list-group-item"><b>type</b>: {{pointVente.type}}</li>
    <li class="list-group-item"><b>categorie</b>: {{pointVente.gps_lat}}</li>
    <li class="list-group-item"><b>latitude</b>: {{pointVente.gps_lon}}</li>
    <li class="list-group-item"><b>Commune</b>: {{pointVente.commune}}</li>
</ul>


{% endblock %}