{% extends "base.html" %}

{% block title %}<title>Insert PointVente</title>{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Add a pointVente</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="text-center">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
/* Add Bootstrap CSS to your project */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make container fill the viewport height */
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}